* {
    font-family: 'Muli', sans-serif;
}
body {
    background-color: rgb(231, 231, 231);
 
}

.container-fluid {
  width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 6px;
}
.col {
    display: flex;
    flex-direction: column;
}

.header_container {
  height: 70px;
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px 0 20px;
  -webkit-box-shadow: 0px 2px 36px 10px rgba(181, 181, 181, 0.52);
  -moz-box-shadow: 0px 2px 36px 10px rgba(181, 181, 181, 0.52);
  box-shadow: 0px 2px 36px 10px rgba(181, 181, 181, 0.52);
}

.header_container img {
  width: 30px;
}
.header_container h1 {
  width: 100%;
  text-align: center;
  font-size: inherit;
  font-weight: 400;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  line-height: 1;
  font-size: 20px;
}

.content {
  background-color: rgb(231, 231, 231);
  height: calc(100vh - 200px);
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.calculation_container {
  max-height: 500px;
  display: flex;
  margin-top: -50px;
  flex-direction: column;
  flex: 0.6;
}

.calculation_header {
  flex: 0.5;
  height: 80px;
  display: flex;

  flex-direction: row;
}

.price_aliexpress {
  width: 100%;
  flex: 0.45;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.price_aliexpress input {
  width: 140px;
  height: 70px;
  border-width: 0.03125em;
  box-shadow: inset 0 0 0.125em 0 rgba(236, 236, 236, 0.479);
  outline: none;
  font-size: 34px;
  border: 1px solid rgb(204, 204, 204);
  text-align: center;
}

.price_tr input {
  width: 140px;
  height: 70px;
  border-width: 0.03125em;
  box-shadow: inset 0 0 0.125em 0 rgba(236, 236, 236, 0.479);
  outline: none;
  font-size: 34px;
  border: 1px solid rgb(204, 204, 204);
  text-align: center;
}

#price_input_ali {
  border-radius: 6px 0 0 6px;
}
.price__input_ali_type {
  border-radius: 0 6px 6px 0;
}

#price_input_tr {
  border-radius: 6px 0 0 6px;
}
.price_input_tr_type {
  border-radius: 0 6px 6px 0;
}

.equal {
  width: 100%;
  flex: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: rgb(82, 82, 82);
  margin-top: 80px;
}
.price_tr {
  width: 100%;
  flex: 0.45;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.calculation_body {
   flex: 0.5;
  height: 300px;
  display: flex;
  justify-content: center;
}

.item_kind {
  flex: 0.4;
  height: 100%;
  margin-top: 20px;
 }

.item_kind h3 {
  text-align: center;
}

 
.item_kind label {
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;


}
.item_kind_content_container {
  display: flex;
  flex-direction: column;
  border: none
}

.add {
margin-top: 200px;
}


 
@media only screen and (max-width: 650px) {
    .calculation_header {
        flex-direction: column
    }
    .equal {
        margin-top: 10px
    }
    .calculation_body{
        margin-top: 200px
    }
    .item_kind_content_container {
        width: 300px;
    }
    .add {
        margin-top: 180px;
    }
  }



  @media only screen and (max-height: 750px) {
   .content{
       margin-top: 100px;
   }
   .add {
       margin-top: 300px
   }
  }